[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pillow = "*"
scipy = "*"
typer = "*"
bitstring = "*"
humanize = "*"
tqdm = "*"
pysoundfile = "*"

[dev-packages]

[requires]
python_version = "3.7"
